@import  url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap' );

body
{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

main
{
margin: 1%;
}
/*header*/

ul
{
    list-style-type: none;
    padding: auto;
    margin:auto;
}
a
{
    text-decoration: none; 
    color: inherit;
}

#logo 
{
    margin-top: 21px;
    padding-TOP: 0%;
    padding-right: 52%;
}

nav 
{
    width: 100%;
    margin-left: auto;
}
nav li
{
    padding-top: 40px;
}

nav a 
{
    padding: 40px 30px 0;
}


nav li a:hover
{
    color:#0065FC;
    border-top: 2px solid #0065FC;
    font-size: initial;
    padding-top: 30px;
}
.menu
{
    padding: 33px;
}
.sinscrire
{
    font-size: 15px;
    color:#0065FC;
    font-weight: bolder;
}


/*recherher*/



.flex-container nav ul 
{
    display: flex;
    justify-content: flex-end;
   
}

.searchBar
{
    margin-bottom: 30px;
    height: 50px;
    display: flex;
    
}
.search 
{
    margin-bottom: 30px;
}

.search h1{
    margin-bottom: 30px;
}

.search p{
    margin-top: 30px;
}

.searchInput
{
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
    border: solid 1px #f2f2f2;

}
.searchFormSubmitInput_2 {
    width: 30px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
    display: none;
}

.searchButton 
{
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 15px;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    
}

.fa-map-marker-alt:before
{
    content: "\f3c5";
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
    margin: auto;
    align-items: center;
    justify-content: center;
}



.filtre
{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.motsfiltres 
{
    font-size: 22px;
   
}

.filtre :hover
{
    background-color:blue;
    align-items: center;
    background-color: #f3f8ff;
    transform: scale(1.050);

}

.filtreentier
{
    display: flex;
    align-items: center;
    height: 3.4rem;
    width: 20%;
    border: solid 2px #d9d9d9;
    border-radius: 2rem;
}
.filtreentier1
{
    display: flex;
    align-items: center;
    height: 3.4rem;
    width: 15%;
    border: solid 2px #d9d9d9;
    border-radius: 2rem;
}
.filtreentier2
{
    display: flex;
    align-items: center;
    height: 3.4rem;
    width: 17%;
    border: solid 2px #d9d9d9;
    border-radius: 2rem;
}

.texte 
{
    margin-left: 10%;
    font-size: 110%;
    font-weight: 700;
}

.icone
{
    background-color: #DEEBFF;
    border-radius: 100%;
    color: blue;
    height: 2.1rem;
    width: calc(33.33333% - 40px);
    min-height: 3.6rem;
    min-width: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -5px;
    
}


.info 
{
    display: flex;
    align-items: center;
}

.iconeinfo 
{
    height: 20px;
    width: 20px;
    border: solid 1px #D9D9D9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    padding: 0.1%;
    justify-content: center;
    color: blue;
}


.texte
{
    margin-left: 7%;
    font-size: 110%;
}


.fa-star
{
    font-size: .8rem;
    letter-spacing: 2px;
}

.blueStar 
{
    color: #0065FC;
}

.greyStar
{
    color: #f2f2f2;
}


/*hebergement*/

#hebergements 
{  
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-wrap:wrap;
    margin: 3%;
    padding: 2%;
    flex: 1 0 65%;
    margin-left: auto;
}
.titleHebergement
{
 
 position: relative;
 flex: 1 0 70%;
 padding: 0;

}
.hotelsTab{
    flex-wrap: wrap;
    display: flex;
}
.hebergements h4 
{
    margin: 0;
    padding: 0;
}
.container-items 
{
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
    flex: 1 0 30%;
    display: flex;
    grid-template-rows: 1fr 40%;
    margin: 15px 15px;
    height: 220px; 
}
.container-items:hover,
.figurePopular:hover,
.shade-un-et-trois:hover,
.haute:hover, .basse:hover
{
    transform: scale(1.0300);
    background-color: #f3f8ff;
}
.container-items img 
{
    height: 62%;
    object-fit: cover;
    width: 100%;
}
.figureArt
{
    
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    margin: auto;

}


.hotelDescription 
{
    background-color: #fff;
    padding: 10px 10px;
}

.hotelDescription p 
{
    margin: 0;
}
.hotelRate {
    word-spacing: -1ch;
}
.containerHotels
{
    display: flex;
    align-items: center;
}
/*populaire*/

#popular
{
     display: flex;
     flex-wrap: wrap;
     background-color: #f2f2f2;
     border-radius: 20px;
     flex: 1 0 25%;
     justify-content: space-between;
     align-items: center;

}
.popularIcon 
{
    font-size: 1.5rem;
    padding: 2%;
    margin: 21px;
    
}
.popularTexte 
{
    display: flex;
    margin: 9%;
}

.popularDescription 
{
    background-color: #fff;
    justify-content: space-between;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 16%;
    
}
.figurePopular
{
    height: 140px;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    width: 85%;
}
.popularFrame 
{
    display: flex;
}

.popularFrame img 
{
    width: 40%;
    object-fit: cover;
}
.hotelName 
{
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
}

.popularDescription .hotelName .p 
{
    margin-top: 8px;
    margin-bottom: 0;
}

.ShowMore 
{
    font-weight: 700;
    font-size: 1.2rem;
}  


#activitiesAnchor 
{
    margin: auto;
    margin-left: 1%;
    padding-top: 3%;
}

.activites 
{
    display: flex;

}

.commun 
{
    border-radius: 20px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;

}

.image-un-et-trois 
{
    height: 115%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.description-un-et-trois 
{
    height: 80px;
    margin: 4%;
}

.deux-et-quatres 
{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: flex-start;
}
.haute 
{
    height: 230px;
    box-shadow: 0 0 7px #c1c1c1;
    width: 100%;
    flex-grow: 1;
    border-radius: 20px;
    margin: 2%;
}

.description-deux-et-quartre-haut
{
    padding: 6px;
    margin: 1%;
}

.basse 
{
    height: 35%;
    box-shadow: 0 0 7px #c1c1c1;
    width: 100%;
    flex-shrink: 1;
    border-radius: 20px;
    margin: 2%;
}

.description-deux-et-quatre-basse
{
    padding: 10px;
}

.shade-un-et-trois 
{
    box-shadow: 0 0 7px #c1c1c1;
    height: 450px;
}
.image-deux-et-quatre-haute 
{
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    margin: 0;
    flex-wrap: wrap;
}


.description-deux-et-quatre-haute 
{
    width: 98%;
    height: 30px;
    margin: 3%;
    border-radius: 20px 20px 0px 0px;
}


.image-deux-et-quatre-basse 
{

    height: 70%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    margin: 0;

}


.description-deux-et-quatre-basse {
    width: 98%;
    height: 30px;
    border-radius: 20px 20px 0px 0px;
}




/* Footer */
footer 
{
    padding: 40px 40px 40px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

footer li 
{
    margin-bottom: 15px;
}

footer a:hover 
{
    font-weight: 600;
    color: #0065FC;
}







@media only screen and (max-width: 700px){
    body
    {
        margin: 1%;
    }
    
    main
    {
        margin:1%;
    }
    .searchFormSubmitInput_2
    {
        width: 40px;
        background-color: #0065FC;
        border: none;
        padding: 0;
        border-radius: 0 15px 15px 0;
        color: #fff;
        font-weight: 600;
        font-size: 1.1rem;
        cursor: pointer;
        flex-shrink: 0;
        display: initial;
    }

    .searchButton
    {
        display: none;
        width: 0;
    }

    .searchBar
    {

        flex-direction: initial;
    }
    .popularIcon 
    {
        font-size: 1.5rem;
        margin: 21px;
        padding: inherit;
    }

    .filtre
    {
        display: flex;
        flex-direction: column;
        width: 96%;
        margin: 0;
        align-items:flex-start;
    }

    .filtreentier2 
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3.4rem;
        width: auto;
        border: solid 2px #d9d9d9;
        border-radius: 2rem;
        margin:2%;
        padding-right:4%;
    }
    .filtreentier1 
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3.4rem;
        width: auto;
        border: solid 2px #d9d9d9;
        border-radius: 2rem;
        margin:2%;
        padding-right:4%;
    }
    .filtreentier 
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3.4rem;
        width: auto;
        border: solid 2px #d9d9d9;
        border-radius: 2rem;
        margin:2%;
        padding-right:4%;
    }
    #activitiesAnchor 
    {
        margin: 5%;
        margin-left: 1%;
        padding-top: 3%;
    }

    .iconeinfo
    {
        height: 20px;
        width: 20px;
        border: solid 2px #D9D9D9;
        border-radius: 100%;
        display: flex;
        align-items: center;
        margin: 1%;
        margin-top: -3%;
    }
    
   
    .searchInput::placeholder
    {
        color: #c2c2c2;
    }
    
    .containerHotels
    {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: auto;

    }
    
    #hebergements, .popular
    {
        background-color: #f2f2f2;
        border-radius: 20px;
        padding:1%;
        margin:1%;
    }

    #hebergements 
    {
        background-color: white; 
        display: block; 
    }

    .popularFrame img
    {
        object-fit: cover;
    }

    .hotelsTab 
    {
        display: flex;
        flex-direction: column;
    }
    
    .activites 
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .commun 
    {
        border-radius: 20px;
        width: auto;
        margin: 1%;
        height: 100%;
    }

    .un-et-trois
    {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .image-un-et-trois
    {
        height: 120px;
        width: auto;
        border-radius: 20px 20px 0px 0px;
    }
    .description-un-et-trois 
    {
        height: 40px;
        margin: 4%;
    }
    
    .flex-container nav ul
    {
        flex: 1 2 auto;
        justify-content:flex-start;
        flex-wrap: wrap;
        width: auto;
    }

   
    nav li a:hover{
        color: #0065FC;
        border-bottom: 2px solid#0065FC;
        font-weight: bolder;
        font-size: 15px;
        width: 4%;
        padding-bottom: 15px;
        border-top: none;
        
    }
    
    nav li a
    {
        color:#0065FC;
        font-weight: bolder;
        font-size: 15px;
        padding-bottom: 20px;
        border-top: none;

    }
    
    
    nav
    {
        width: auto;
        margin-left: auto;
    }
    
    .flex-container
    {
        width: auto;
        margin: 3%;
       
    }

    #logo
    {
        width: 55%;
        height: 30%;
        margin: 0px;
        margin-left: -25%;
    }

    .menu
    {
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
    }
    
    footer 
    {
        flex:2 1 auto;
        flex-direction:column;
        margin: 2%;
        padding: 0;
    } 

}